:root{
    box-sizing: border-box;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  
   
}

body {

    background-color: #ffdd90;
    background-image: url("/Imagenes/img14.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
  }

  .principal {
      background-color: white;
      display: flex;
      width: 60%;
      height: 30em;
     justify-content: center;
      align-items: center;
      opacity: 0.9;
      margin-top:4em ;
      padding: 2em;
      border-radius: 2em;
  
  }
  img{
   border-radius: 2em;
    
  }
  